{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "JobList": true,
    "CinemaWindow": true,
    "Map": true,
    "west": true,
    "Character": true,
    "Player": true,
    "wman": true,
    "scriptUpdater": true,
    "ItemManager": true,
    "JobWindow": true,
    "PlayerProfileWindow": true,
    "PlayerProfileMain": true,
    "Premium": true,
    "UserMessage": true
  },
  "rules": {
    "no-console": "off",
    /* REFERENCES */
    "prefer-const": "error",
    "no-var": "error",
    /* OBJECTS */
    "no-new-object": "error",
    "object-shorthand": "error",
    "quote-props": [
      "warn",
      "as-needed"
    ],
    /* ARRAYS */
    "no-array-constructor": "error",
    "array-callback-return": "error",
    /* DESTRUCTURING */
    "prefer-destructuring": "error",
    /* STRING */
    "prefer-template": "error",
    "template-curly-spacing": "error",
    "quotes": [
      "error",
      "double"
    ],
    "no-eval": "error",
    "no-useless-escape": "warn",
    /* FUNCTIONS */
    "func-style": "error",
    "wrap-iife": "error",
    "no-loop-func": "error",
//    "prefer-rest-params": "error",
    "no-new-func": "error",
    "space-before-function-paren": "warn",
    "space-before-blocks": "warn",
    "no-param-reassign": "error",
    "prefer-spread": "error",
    "function-paren-newline": "error",
    /* ARROW FUNCTIONS */
    "prefer-arrow-callback": "error",
    "arrow-spacing": "warn",
    "arrow-parens": "error",
    "arrow-body-style": "warn",
    "no-confusing-arrow": "error",
    "implicit-arrow-linebreak": "error",
    /* CLASSES AND CONSTRUCTORS */
    "no-useless-constructor": "error",
    "no-dupe-class-members": "error",
    /* ITERATORS AND GENERATORS */
    "no-iterator": "error",
    "no-restricted-syntax": "error",
    "generator-star-spacing": "error",
    /* PROPERTIES */
    "no-restricted-properties": "error",
    /* VARIABLES */
    "no-undef": "error",
    "no-multi-assign": "error",
    /* COMPARATORS */
    "no-case-declarations": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "error",
    "no-mixed-operators": "error",
    /* BLOCKS */
    "nonblock-statement-body-position": "warn",
    "brace-style": "warn",
    "no-else-return": "error",
    /* WHITESPACE */
//    "indent": ["warn", 4],
    "keyword-spacing": "warn",
    "space-infix-ops": "warn",
//    "newline-per-chained-call": "warn",
    "no-whitespace-before-property": "warn",
    "padded-blocks": ["warn", "never"],
    "space-in-parens": "warn",
    "array-bracket-spacing": "warn",
    "object-curly-spacing": "warn",
    "block-spacing": "warn",
    "comma-spacing": "warn",
    "computed-property-spacing": "warn",
    "func-call-spacing": "warn",
    "key-spacing": "warn",
    "no-trailing-spaces": "warn",
    "no-multiple-empty-lines": "warn",
    /* COMMA */
    "comma-style": "error",
    "comma-dangle": ["warn", "always"],
    "semi": "error",
    /* CASTING */
    "radix": "error",
    "no-new-wrappers": "error",
    /* NAMING CONVENTION */
    "id-length": "error",
    "camelcase": "error",
    "new-cap": "error",
    "no-underscore-dangle": "error",
    /* LIBRARY */
    "no-restricted-globals": "error"
  }
}